<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If request is NOT a real file
  RewriteCond %{REQUEST_FILENAME} !-f

  # If request is NOT a real directory
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect everything to index.html
  RewriteRule ^ index.html [L]
</IfModule>