.body{
    background-color: #EDEFED;

}
.page404-main {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
}

.page404 {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.page404-heading1 {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #156DDF;
    font-size: 24px; 
}

.page404-heading2 {
    font-weight: bold;
    margin-top: 10px;
    color: #156DDF;
    font-size: 24px;
}

.page404-line {
    border: 1px solid #156DDF;
    width: 10%;
}

.page404-subheading{
    font-size: 20px;
    /* color: #156DDF; */
}
.page404-para {
    font-size: 16px;
}

.page404-img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

@media (min-width: 1024px) {
    .page404-main {
        flex-direction: row;
        max-width: 850px;
    }

    .page404-heading1,
    .page404-heading2,
    .page404-subheading,
    .page404-para {
        font-size: 18px;
        text-align: left;
    }

    .page404-img {
        height: 100vh;
    }
}

@media (max-width: 1024px) {
    .page404-main {
        max-width: 850px;
        font-size: 16px;
    }

    .page404-heading1,
    .page404-heading2,
    .page404-line,
    .page404-subheading,
    .page404-para {
        font-size: 16px; 
        text-align: left;
    }

    .page404-img {
        height: 1000%;
    }
}

@media (max-width: 768px) {
    .page404-main {
        flex-direction: column;
        align-items: center;
        max-width: 600px;
    }

    .page404-heading1,
    .page404-heading2,
    .page404-line,
    .page404-subheading,
    .page404-para {
        font-size: 14px;
        text-align: center;
    }

    .page404-heading1 {
        margin-top: 50%;
    }

    .page404-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}
