<<<<<<< Updated upstream
on: push
name: 🚀 Deploy website on push
jobs:
  web-deploy:
    name: 🎉 Deploy
    runs-on: ubuntu-latest
    steps:
    - name: 🚚 Get latest code
      uses: actions/checkout@v4

    - name: Use Node.js 16
      uses: actions/setup-node@v2
      with:
        node-version: '16'
      
    - name: 🔨 Build Project
    working-directory: frontend # build file only the build folder from 'frontend'

      run: |
        npm install
        npm run build
    
    - name: 📂 Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ftp.curatedgallery.org 
        username: AdminB@blucomtechnologies.com
        password: ${{ secrets.FTP_PASSWORDADMIN }}
        server-dir:
=======
on:
  push:
    branches:
      - live  # Trigger only when pushing to the 'live' branch

name: Deploy website on push

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy build to FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftp.curatedgallery.org
          username: AdminB@blucomtechnologies.com
          password: ${{ secrets.FTP_PASSWORDADMIN }}
          local-dir: ./frontend/build/  # Upload only the build folder from 'frontend'
          server-dir:

